# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# Packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage*
htmlcov/

# Static analysis
.mypy_cache/
.ruff_cache/

# Documentation
docs/_build/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# flamo
/training_output